{% load static %}
<html lang="en">
  <head>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap Theme Example</title>

    <!-- Include the CSS -->
    <link href="{% static "events/dist/toolkit.min.css" %}" rel="stylesheet">

  </head>
  <body>

    <div class="profile-header text-center" style="background-image: url(../assets/img/iceland.jpg); ">
      <div class="container-fluid">
        <div class="container-inner">
          <img class="rounded-circle media-object" src="../assets/img/avatar-dhg.png">
          <h3 class="profile-header-user">Dave Gamache</h3>
          <p class="profile-header-bio">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>
        </div>
      </div>
      <nav class="profile-header-nav">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item active">
            <a class="nav-link" href="#">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Others</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Anothers</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Include jQuery (required) and the JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static "events/dist/toolkit.min.js" %}"></script>
  </body>
</html>
