{% load static %}

<ul class="media-list media-list-conversation c-w-md">
  <li class="media media-current-user mb-4">
    <div class="media-body">
      <div class="media-body-text">
        {{ message.text }}
        What are we doing on this event? This is an example question. I always know what I'm doing
      </div>
      <div class="media-footer">
        <small class="text-muted">
          <a href="#">{{ message.user.username }}</a>
        </small>
      </div>
    </div>
    <img class="rounded-circle media-object ml-3" src="{% static "users/1/profile.png" %}">
  </li>
</ul>
