{% extends 'base.html' %}

{% load static %}
{% block content %}
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">{{ event.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ creator }}</h6>
          <p class="card-text">{{ event.description }}</p>
          <button class="btn btn-secondary" type="button">
            <span class="icon icon-thumbs-up"></span>
            RSVP
          </button>
        </div>
      </div>
      <br />
    <div class="row">
      <div class="col col-md-8">
        <ul class="nav nav-pills">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <span class="icon icon-chat"></span>
              Discussions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="icon icon-bell"></span>
              Photos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="icon icon-users"></span>
              Members
            </a>
          </li>
        </ul> <br />
        <!-- Map -->


      <ul class="media-list media-list-conversation c-w-md">
        <li class="media media-current-user mb-4">
          <div class="media-body">
            <div class="media-body-text">
              {{ event.extended_description }}
            </div>
            <br />
            <div class="media-footer">

              <section id="contact" class="map">
                  <iframe width="100%" height%="33%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
                  <br />
                  <small>
                      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
                  </small>
              </section>


              <small class="text-muted">
                <a href="#">Dave Gamache</a> at 4:20PM
              </small>
            </div>
          </div>
          <img class="rounded-circle media-object ml-3" src="{% static "events/img/avatar-dhg.png" %}">
        </li>
      </ul>
    </div>
    <div class="col col-md-4">
      <h3>Guests</h3>
      <ul class="media-list media-list-users list-group">
        {% for guest in event.attendees.all %}
        <li class="list-group-item">
        <div class="media w-100">
          <img class="media-object rounded-circle mr-3" src="{% static "events/img/avatar-dhg.png" %}">
          <div class="media-body align-self-center">
            <a class="btn btn-outline-primary btn-sm float-right" href="{% url 'profile' guest.username %}">
              Profile
            </a>
            <strong>{{ guest.username }}</strong>
            <small>@fat - San Francisco</small>
          </div>
        </div>
      </li>
      {% endfor %}
    </div>
  </div>

{% endblock %}
