{% extends 'base.html' %}

{% load static %}
{% block content %}
      <div class="card">
        <div class="card-block">
          <h4 class="card-title" href="{{ event.get_absolute_url }}">{{ event.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ creator }}</h6>
          <p class="card-text">{{ event.description }}</p>
          <form action="" method="post">{% csrf_token %}
          {% for field in rsvp_form %}
          <button class="btn btn-primary" autocomplete="off" type="button">
            <span class="icon icon-thumbs-up"></span>
            RSVP
          </button>
          {% endfor %}
        </form>
        </div>
      </div>
      <br />
    <div class="row">
      <div class="col col-md-8">
        <ul class="nav nav-pills">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <span class="icon icon-chat"></span>
              Discussions
            </a>
          </li>
        </ul> <br />

      <form action="{% url 'event-detail' event.slug %}" method='post'>{% csrf_token %}
        {% for field in message_form %}
        <div class="form-group">
          {{ field }}
        {% endfor %}
          <button type="submit" value="Save" class="btn btn-success">
            Save
          </button>
          </div>
        </form>
      <br />

    </div>
    <div class="col col-md-4">
      <h3>Guests</h3>
      <ul class="media-list media-list-users list-group">
        {% for guest in event.attendees.all %}
        <li class="list-group-item">
        <div class="media w-100">
          <img class="media-object rounded-circle mr-3" src="{% static "users/1/profile.png" %}">
          <div class="media-body align-self-center">
            <a class="btn btn-outline-primary btn-sm float-right" href="{% url 'profile' guest.username %}">
              Profile
            </a>
            <strong>{{ guest.username }}</strong>
          </div>
        </div>
      </li>
      {% endfor %}
    </div>
  </div>

{% endblock %}
