{% extends 'base.html' %}

{% load static %}
{% block content %}
      <br />

    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-block text-left">
              <h3 class="card-title">Welcome, {{ request.user.username }}</h3>
              <a href="{% url 'event-create' %}" class="btn btn-primary">Create Event</a>
              <a href="{% url 'location-create' %}" class="btn btn-primary">Add Location</a>

            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card text-center">
            <div class="card card-inverse" style="background-color: #333; border-color: #333;">
              <div class="card-block text-left">
                <h3 class="card-title">Signup</h3>
                <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
        <div class="row">

    <div class="col-8">
       {% for event in active_events %}
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{ event.name }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ event.date }}, Points: {{ event.points }}</h6>
            <p class="card-text">{{ event.description }}</p>
          <a href="{{ event.get_absolute_url }}" class="btn btn-primary">More</a>
          </div>
        </div>
        <br />
      {% endfor %}
    </div>
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item active">Events</li>
        <li class="list-group-item">Speakers</li>
        <li class="list-group-item">Posts</li>
      </ul>
    </div>
  </div>
  </div>
</div>
{% endblock %}
